# The token is your bot token from slack
# The bot must be invited via `/invite @bot_name`
export SLACK_TOKEN=xoxb-enter-your-SLACK_BOT_TOKEN

# slack channel which bot was invited to
export _CHANNEL=#dadjokes

# fully qualified directory paths to fortune and cowsay
export _FORTUNE=$(which fortune)
export _COWSAY=$(which cowsay)

# directory where run.sh and index.js resides
export _DIR=/home/username/some/dir/where/this/file/resides/

# source code which nodejs will run
export _SRC=${_DIR}/index.js
